.page1{
  width:100vw;
  height:auto;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.categoryslider {
  display: flex;
  margin-left: 5px;
  width: 80%;
  flex-direction: row;
  overflow-x: auto;          
  overflow-y: hidden;       
  white-space: nowrap;
  padding: 10px 10px ;
  height: 10vh;
  gap: 20px;
  scroll-behavior: smooth;
  background-color: white;
   border-bottom:0.5px solid rgb(189, 189, 189);
}

.categoryslider::-webkit-scrollbar {
  display: none;
}
.types {
  flex: 0 0 auto;
  padding: 8px 16px;
  
  border-radius: 20px;
  font-weight: 500;
  font-family: Mier;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
.landingimage{
  width:100%;
  position: relative;
}
.landingquotes{
 
  display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    position: absolute;
    left: 63%;
    top: 50%;
    transform: translateY(-50%);
}
.landingquotes span {
    font-style: normal;
    font-weight: 700;
    color: white;
    
}
.bothspan{
    display: flex
;
    flex-direction: column;
    gap: 14px;
}
.bothcontent{
  position:relative;
  width:100vw;
  height:auto;
}
.landingshop {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: white;
  color: rgb(88, 10, 70);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.featurebackground{
   height:10vh;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 238, 250);
}
.features{
  height:8vh;
  width:95%;
  background-color: white;
  border:1px solid rgba(220, 148, 208, 0.5);
  border-radius:8px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.all{
  width:70%;
  display:flex;
  justify-content: space-between;
}
.returnimg{
  width:30px;
  margin-right:5px;
  display:block;
}
.return , .delivery , .price{
  display:flex;
  align-items: center;
  font-family: Mier;
  font-size: 16px;
  
}
.page1productsdisplay{
  width: 80%;
  height:30vh;
  overflow-x: auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
  gap:40px;
  margin-top:10px;
}
.page1productsdisplay::-webkit-scrollbar {
  display: none;
}
.page1product{

  display:flex;
  flex-direction: column;
  align-items: center;
}
.page1product span{
  text-align: center;
}
.productimg{
  width:110px;
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .landingquotes span{
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.72px;
    }
        .landingshop {
        padding: 11px 29px 13px;
        font-size: 24px;
    }
}





