*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  min-height: 200vh;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
@font-face {
  font-family:Mier;
  src:url(MierB-Book.ttf) ;
}
.navbar{
  width:100vw;
  height:12vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 40px 5px 20px;
  font-family: Mier;
  gap:20px;
  border-bottom:0.5px solid rgb(189, 189, 189);
}
.navprofile1 , .navcart1{
   display:none;
}
.img{
  width:160px;
  margin-left:20px;
  
}
.searchbox{
  position:relative;
  width:40%;
  height:60%;
  border:1px solid grey;
  border-radius: 8px;
  display:flex;
  padding:0px 10px 0px 10px;
  align-items: center;

}
.searchinput{
  height:100%;
  width: 100%;
  outline:none;
  border:none;
  margin-left:4px;
  font-family: Mier;
  font-size: 16px;
  color:grey;
}
.allrest{
  width:40%;
  height:60%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: Mier;
  gap:10px;
}
.allrest1{
   width:25%;
  height:60%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: Mier;
  gap:10px;
}
.same{
 height:100%;
 width:1px;
 border:1.5px solid grey;
}
.same1{
  display:none;
}
.navprofile, .navcart{
  display:flex;
  flex-direction: column;
  position:relative;
} 
.navdropdown{
  position:absolute;
  background-color: white;
  display:flex;
  align-items:flex-start;
  justify-content: space-between;
  flex-direction: column;
  top: 142%;
  left:-231%;
  width:252px;
  height:auto;
  z-index:545875653477;
  padding:10px;
  box-shadow: rgba(34, 34, 34, 0.12) 0px 2px 4px, rgba(34, 34, 34, 0.12) 0px 0px 1px;
    border-radius: 0px 0px 8px 8px;
  border:1px solid rgb(234, 234, 242);
  font-family: Mier;


}
.text{
  font-size: 18px;
  font-weight: 500;
}
.navdropdown p{
  font-size:12px;
  color: rgb(97, 97, 115);

}
.navsignup{
  cursor: pointer;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.0015em;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: rgb(159, 32, 137);
    border: none;
    padding: 12px;
    display: block;
    width: 100%;
    margin:15px 0px 15px 0px;

}
.filteredproduct{
  display:flex;
  position:absolute;
  width:100%;
  height:58vh;
  overflow-y: auto;
  background-color: white;
  gap:20px;
  flex-direction: column;
  z-index: 74515051055151;
  top:103%;
  left:0%;
  border-radius:8px;
  padding: 20px;
    font-family: Mier;
    color: rgb(97, 97, 115);

}
.searchproduct{
  width:100%;
  gap:10px;
  display:flex;
  align-items: center;
}
.navorders{
  width:100%;
  height:auto;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap:10px;
  padding:10px;
  border-top:1px solid rgb(206, 206, 222);
}
.navdelete{
  width:100%;
  height:auto;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap:10px;
  padding:10px;
  border-top:1px solid rgb(206, 206, 222);
}
.navlogout{
   width:100%;
  height:auto;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap:10px;
  padding:10px;
  border-top:1px solid rgb(206, 206, 222);
}
.navlogout1{
  display:none;
}

 
/* page1 css */
