*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  min-height: 200vh;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
@font-face {
  font-family:Mier;
  src:url(MierB-Book.ttf) ;
}
.navbar{
  width:100vw;
  height:12vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 40px 5px 20px;
  font-family: Mier;
  gap:20px;
  border-bottom:0.5px solid rgb(189, 189, 189);
}
.img{
  width:160px;
  margin-left:20px;
  
}
.searchbox{
  width:40%;
  height:60%;
  border:1px solid grey;
  border-radius: 8px;
  display:flex;
  padding:0px 10px 0px 10px;
  align-items: center;

}
.searchinput{
  height:100%;
  width: 100%;
  border:none;
  margin-left:4px;
  font-family: Mier;
  font-size: 16px;
  color:grey;
}
.allrest{
  width:40%;
  height:60%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: Mier;
  gap:10px;
}
.same{
 height:100%;
 width:1px;
 border:1.5px solid grey;
}
.navprofile, .navcart{
  display:flex;
  flex-direction: column;
} 
 
/* page1 css */
